* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/*header*/

.header {
    display: flex;
    justify-content: end;
    height: 10px;
}

h1 {
    font-size: 100px;
    text-shadow: 10px 5px 17px;
    text-align: center;
}

li {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.clase {
    margin: 15px;
}

.clase:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3.5px;
    bottom: 0;
    left: 0;
    background: linear-gradient(black, white);
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}

.clase:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*indexRopa*/
.productos {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    gap: 3rem; /* espacio entre articulo */
    margin-top: 50px;
}


.producto {
  position: relative;
}

.producto-secundario .preoducto-img {
    width: 100%;
    height: 150px;
  }

.producto-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  
}

.producto-categoria {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.producto-destacado {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}



.producto-destacado .producto-categoria {
  font-size: 5rem;
}

.productos-secundarios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.producto-secundario .producto-img {
  width: 100%;
  height: 100%;
  min-height: 100px;
}

.producto-secundario .producto-categoria {
  font-size: 1.5rem;
}


/*tipo de letra*/
p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

/*footer*/

.contenedorgeneral {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding-left: 60px;
    line-height: 25px;
}

.contenedorgeneral p {
    text-decoration: underline;
}

.pago {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.pago p {
    padding-left: 70px;
    grid-area: 1/1/1/5;
    display: flex;
    justify-content: start;
    text-decoration: underline;
}

.subiralinicio {
    font-size: 35px;
}

/*html Ropa*/

/*remeras*/
.remera {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cajah2 {
    grid-area: 1/1/1/5;
    display: flex;
    justify-content: start;
    margin: 130px 0 0px 35px;
}


.img-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/*camperas y busos*/
.camperasYbusos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.pantalon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}


/*zapatillas*/
.moda {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.zapatosYbotas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.Zapatos-z {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

/*accesorios*/
.collares {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.pulserasYreloj {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.anillosYpendientes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}


/*contacto*/

.container {
    display: flex;
}

.contenedorh2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 20px;
}

hr {
    margin: 20px;
    width: 30%;
    height: 2px;
}

.datosDeContacto {
    margin-top: 100px;
    margin-left: 350px;
}

.datosDeContacto p {
    padding: 8px 0 10px 0;
}

.formulario {
    margin-top: 100px;
    margin-left: 350px;
    font-size: 18px;
}

input {
    display: block;
    margin: 10px 0 10px 0;
    width: 300px;
    height: 33px;

}

.boton {
    margin-top: 12px;
    width: 50px;
    margin-left: 250px;
}

textarea {
    height: 120px;
    width: 300px;
    margin-top: 10px;
}

.footerContacto {
    position: absolute;
    bottom: 0;
    width: 100%;
}