.vacio {
  display: flex;
  align-items: center;
  flex-direction: column;

  .cartVacio {
    text-transform: uppercase;
  }

  .btnInicio {
    border: none;
    font-size: large;
    background-color: transparent;
    color: rgba(0, 0, 255, 0.514);
    &:hover {
      cursor: pointer;
    }
  }
}

.cart {
  display: flex;

  .resumenCompra {
    margin-top: 3rem;
    margin-left: 7rem;
    background: rgba(253, 253, 253, 0.384);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20);
    border-radius: 7px;
    min-width: 333px;
    max-height: 250px;

    h1 {
      padding-left: 1rem;
      margin-bottom: 1rem;
    }
    .envio,
    p {
      padding-left: 1rem;
    }

    .gratis {
      color: #02be0b;
      margin-left: 13.5rem;
    }
    .totalPrice {
      margin-left: 14rem;
      margin-right: 0.5rem;
    }

    .botonResumen {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1.5rem;

        .vaciarCarrito {
            border: none;
            background-color: transparent;
            color: rgba(0, 0, 255, 0.623);
            &:hover {
                cursor: pointer;
            }
        }

        .seguirComprando {
            border: none;
            background-color: transparent;
            color: #02be0b;
            font-weight: bold;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .finalizarCompra {
        border: none;
        background-color: green;
        color: white;
        width: 74%;
        margin-left: 2.9rem;
        margin-bottom: 0.4rem;
    }
  }
}
