.containerProductos {
  display: grid;
  grid-template-columns: repeat(auto-fill, 247px);
  gap: 1.5rem;
  margin-top: 4rem;

  a {
    text-decoration: none;
    color: black;
  }
  .Producto {
    overflow: hidden;
    height: 439px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);

    &:hover {
      background-color: white;
      
      .titleProduc {
        color: #02be0b;
      }

      .precio {
        color: #02be0b;
      }

      strong.envio {
        color: black;
      }

      .stock {
        color: #02be0b;
      }

      button.carrito {
        background-color: black;
      }
    }
    .img-producto {
      width: auto;
      height: auto;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }

    .infoProducto {
      margin: 0.5rem 0 0 0.5rem;
      
      .titleProduc {
        margin: 0 0 0.3rem 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: x-large;
      }

      .precio {
        font-size: x-large;
      }
      
      .envio {
        font-size: small;
        color: #02be0b;
        margin-left: 0.4rem;
      }

      .stock {
        display: block;
        font-size:small;
        margin-top: 1rem;
      }

      .carrito {
        width: 14.4rem;
        height: 3rem;
        margin-top: 2rem;
        cursor: pointer;
        border: none;
        background-color: green;
        color: white;
        border-radius: 5px;
      }
    }
  }
}
